body{background-color: black;}
div{color:white;text-align: center;width:50%;margin-left:25%;}
img{border: 5px solid white;width:98%;}
p{font-family: 'Libre Baskerville', serif;margin-left: 10px;margin-right: 10px;font-size: small;}
h1{font-family: 'Game of Thrones','Times New Roman';}
